@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of Procedures</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetTouristsByCustoms" asp-action="Index">GetTouristsByCustoms Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetHotelAccommodations" asp-action="Index">GetHotelAccommodations Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetTouristCountByCountryAndPeriod" asp-action="Index">GetTouristCountByCountryAndPeriod Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetOccupiedRoomsByHotelAndPeriod" asp-action="Index">GetOccupiedRoomsByHotelAndPeriod Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetTotalTouristsWithExcursionsByPeriod" asp-action="Index">GetTotalTouristsWithExcursionsByPeriod Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetFlightLoadingData" asp-action="Index">GetFlightLoadingData Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetCargoStatistics" asp-action="Index">GetCargoStatistics Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetFinancialReportForGroupAndCategory" asp-action="Index">GetFinancialReportForGroupAndCategory Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetExpensesIncomesForPeriod" asp-action="Index">GetExpensesIncomesForPeriod Procedure</a>
<a class="nav-link text-dark" asp-area="" asp-controller="GetLuggageStatistics" asp-action="Index">GetLuggageStatistics Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CalculateTouristRatio" asp-action="Index">CalculateTouristRatio Procedure</a>
</div>