@model IEnumerable<TouristAgency.Models.GetTouristCountByCountryAndPeriod>

@{
    ViewData["Title"] = "Tourist Count by Country and Period";
}

<h1>Tourist Count by Country and Period</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Total Tourists
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.total_tourists
                </td>
            </tr>
        }
    </tbody>
</table>